# build outputs
bin/
*.o
*.a
*.so
*.dll
*.exe

# local DB / caches
*.db
*.sqlite
rangoons.db
logs/
*.log

# archives / large bundles
boost*.tar.bz2*
*.tar
*.tar.*
*.zip
*.7z

# node stuff
node_modules/
wa-bot/auth/

# editor/OS
.DS_Store
*.swp

rangoons.db-shm
rangoons.db-wal
